.footer {
 background-color: #1e1823;
}

.footer-slogan {
 font-weight: 500;
 font-size: 28px;
 line-height: 1.21;
 letter-spacing: -0.03em;
 color: #fd9222;
}

.footer-caption {
 font-weight: 600;
 color: #fff;
}

.contacts {}

.contact-list {}

.contact-item {}

.contact-link {
 color: #fff;
}

.contact-link:hover,
.contact-link:focus {
 color: #fd9222;
}


.footer-menu {}

.footer-menu-item {}

.footer-menu-link {
 font-weight: 500;
 color: #fff;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
 color: #fd9222;
}